body{
    position: absolute;
}

.top-banner, main{
    margin: 0 auto;
}
.top-banner{
    width: 100%;
    display: grid;
    place-content: center;
    padding: 10px 0;

    font-family: var(--main-font);
    background-color: var(--main-color);
}
.top-banner h2{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 100;
}

main{
    position: relative;
    margin-bottom: 30px;
}
header{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 2;
    padding: 13px;
}
header button{
    background: none;
    border: none;
    width: 30px;
}
header button > img{
    width: 100%;
    height: 100%;
}

.main_photo{
    position: relative;
    width: 100%;
    height: auto;
    max-height: 450px;
    overflow: hidden;
    
     }

  .main_photo > div{
    width: 100vw;
    height: inherit;
      display: grid;
      place-content: center;
}

main_photo > div, .main_photo img{
    width: 100%;
}

.main_photo .slide-hidden{
    display: none;
}

.main_slider{
    position: relative;
    width: 100%;
    height: 20vh;
}

.main_slider > article{
    min-width: 150px;
    width: 40%;
    max-width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;

    background-color: white;
}
.main_slider > article > .arrows-container{
    width: 100%;
    padding: 0 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main_slider > article > .arrows-container span{
    font-size: 2rem;
    font-weight: bolder;
}
.main_slider > article > .arrows-container > section{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--third-color);
}
.main_slider > article > .arrows-container > section > button{
    width: 8px;
    height: 8px;
    border-radius: 30px;
    border: none;
    margin: 0 10px;
    background-color: var(--third-color);
}

.main_slider > article > .tag-container{
    width: 80%;
    margin: 9px auto;
    padding: 6px 0;
    background-color: var(--main-color);

    text-align: center;
    font-family: var(--second-font);
}
.main_slider > article > .tag-container span{
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.main_slider > article > .slider_footer{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-family: var(--third-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 15px;

    background-color: var(--second-color);
    color: white;
    letter-spacing: 1px;
}

.main_content-grid{
    width: 100%;
    display: grid;
    place-content: center;
}
.main_content-grid > article{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.main_content-grid_img-container{
    width: 100%;
}
.main_content-grid_img-container img{
    width: 100%;
}
.main_content-grid_btn-container{
    margin: 15px 0;
}
.main_content-grid_btn-container a{
    padding: 2px 8px;
    background-color: var(--main-color);
    color: white;
    font-family: var(--third-font);
    font-weight: 100;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}


@media screen and (min-width: 600px){
    .main_content-grid_btn-container a{
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
}


@media screen and (min-width: 650px){
    .main_photo{
        display: grid;
        place-content: center;
        overflow: hidden;
        height: 80vh;
        max-height: none;
    }
    .main_slider{
        height: 28vh;
    }
    .main_slider > article{
        max-width: 350px;
    }
    .main_slider > article > .slider_footer{
        font-size: 1.4rem;
        padding: 5px 60px;
    }
    .main_slider > article > .tag-container{
        text-align: center;
        margin: 30px auto;
    }
    .main_slider > article > .tag-container span{
        font-size: 1.7rem;
    }

    .top-banner h2{
        font-size: 2.3rem;
        letter-spacing: 6px;
    }

    .main_slider > article > .arrows-container > section > button{
        width: 12px;
        height: 12px;
    }
}